* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caveat", cursive;
    background-color: rgb(232, 232, 232);
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

.navBar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 8px;
    background-color: white;
}

.searchForm {
    display: flex;
    padding-inline: 5px;
    margin: auto 10px;
    border-radius: 10px;
    background-color: rgb(232, 232, 232);
}

.nav_search {
    background-color: rgb(232, 232, 232);
    margin: 0;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 3px;
}

.results {
    position: absolute;
    top: 10%;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    color: rgb(7, 82, 57);
    margin-inline: 10px;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.postSection {
    flex: 1.5;
    margin: 30px 0px;
}

.contactSection {
    flex: 1;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(7, 82, 57);
    color: white;
    border: none;
    border-radius: 5px;
    transition: .5s all ease;
}

button:hover {
    background-color: rgb(67, 169, 135);
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#postTitle,
#postBody {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid rgb(190, 183, 183);
    border-radius: 10px;
}



.postItem {
    background-color: white;
    border: 1px solid #6c5d18;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.editForm {
    display: none;
    margin-top: 10px;
}

.likes,
.dislikes {
    cursor: pointer;
    transition: all .5s ease;
    display: inline-block;
}

.likes:hover,
.dislikes:hover {
    color: blue;
}

.icon_reaction {
    color: blue;
}



.div_contacts {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
}

#contactsList {
    background-color: rgba(189, 188, 188, 0.779);
    margin: 20px;
    padding: 8px;
    border-radius: 15px;
    height: 350px;
    overflow: auto;
}

#contactsList::-webkit-scrollbar {
    background-color: rgba(189, 188, 188, 0.779)
}

#contactsList::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(147, 146, 146);
}

#contactsList::-webkit-scrollbar-thumb:hover {
    background-color: rgb(118, 118, 118);
}

.conect {
    background-color: rgb(8, 207, 15);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.publicity {
    flex: 1;
    width: 20%;
}

#productsList {
    background-color: rgba(189, 188, 188, 0.779);
    border-radius: 10px;
    width: 100%;
}

.div_publicity {
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 80%;
}

.productItem {
    background-color: white;
    border: 1px solid #6c5d18;
    width: 60%;
    margin: auto;
}


